
@using SnakeProj.Models.Api
@model SnakeProj.game.Game


@section Head {
    <script src="js/snaleTableUpdater.js"> </script>
    <script src="js/snaleStatusUpdater.js"> </script>
    <script src="js/snaleStatusGetter.js"> </script>
    <script>
        let tableUpdater = new SnakeTableUpdater(50,"snakeTable");
        tableUpdater.Start();
        let statusUpdater = new SnakeStatusUpdater(50, "snakeStatus");
        statusUpdater.Start();
        let statusGetter = new SnakeStatusGetter(100);
        statusGetter.Start();
    </script>

    <script>
        document.addEventListener("keydown", snakeTableKeyDown)
        let lastKeyPressed = undefined;
        function snakeTableKeyDown(args) {
            if (lastKeyPressed != args.key) {
                switch (args.key) {
                    case "ArrowUp":
                        $.ajax("Api/GoUp")
                        break;
                    case "ArrowDown":
                        $.ajax("Api/GoDown")
                        break;
                    case "ArrowLeft":
                        $.ajax("Api/GoLeft")
                        break;
                    case "ArrowRight":
                        $.ajax("Api/GoRigth")
                        break;
                }
            }
            console.log(args);
        }
    </script>
    <script>
      //  if(Model.Snake.isDead)
       // {
          //  alert("Game over");
       // }
    </script>

    <link rel="stylesheet" type="text/css" href="~/css/SnakeField.css" />
}

<div>
    <table>
        <tr>
            <td>
                <div id="snakeTable" class="snakeTable" tabindex="0">
                    @await Html.PartialAsync("/Views/PageParts/SnakeTable.cshtml", new SnakeFieldDataModel(Model))
                </div>
            </td>
            <td>
                <div id="snakeStatus" class="snakeStatus">
                    @await Html.PartialAsync("/Views/PageParts/SnakeStatus.cshtml", new SnakeStatusDataModel(Model))
                </div>
            </td>
        </tr>
    </table>
</div>




